
<!-- Page Content -->
<div class="container page-top">
    <div class="album py-5">
      <div class="container">
        <h1 class="jumbotron-heading" style="color: white;"><strong>Popular Azure Videos</strong></h1>
        <div class="row">
            <div class="col-md-4 item" style="cursor: pointer;">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="<%= image_url "azure1.jpg" %>" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">CosmosDB Introduction</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">X mins</small>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-md-4 item" style="cursor: pointer;">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="<%= image_url "azure2.jpg" %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Microsoft Azure for Engineering Leaders</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">X mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 item" style="cursor: pointer;">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="<%= image_url "azure3.jpg" %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Azure Basics</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">X mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>

