<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
  <%= javascript_pack_tag 'test' %>
</head>


<body>
<div id="video-id" data-text=<%= @video.id %>></div>
<h1 id="video-title"  style="color: white; text-align: center " ><%= @video.title %>
</h1>
<section class="my-5" >
    <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class=" mb-3 ">
          <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
              <div id = "video"></div>
              <%= video_tag @video.folder_path, controls: true, id: "video-active", class: "video-active" %>
              <div id="current">0:00</div>
              <div id="duration">0:00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class=" mb-3 ">
        </div>
        <div id="subtitle-area" style="text-align:center;">
<!--          <p><%#= @video.transcript %></p>-->
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>